/*Clear*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    
    --softviolet: hsl(273, 75%, 66%);
    --softblue: hsl(240, 73%, 65%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    background: linear-gradient(var(--softviolet), var(--softblue));
    background-repeat: no-repeat;
    min-height: 1080px;
    display: grid;
    place-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.card{
    background-color: #FFFFFF;
    min-height: 510px;
    width: 70%;
    border-radius: 23px;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    display: flex;
}
.mobile-hero{
    display: none;
}
.card-image{
    width: 40%;
    display: flex;
    align-items: center;
    height: inherit;
    position: relative;
}
.card-image-overflow{
    overflow: hidden;
    height: 500px;
}
.card-image-background{
    position: relative;
    top: -100px;
    left: -325px;
    height: 700px;
}
.card-image .illustration{
    position: relative;
    top: -600px;
    left: -80px;

}
.box{
    position: absolute;
    z-index: 100;
    left: -100px;
    top: 230px;
}
.card-accordion{
    width: 55%;
    float: right;
    padding: 60px;
}
.card-accordion li{
    border-bottom: solid #E8E8EA 1px ;
}
h1{
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 40px;
}
button img{
    float: right;
}
.accordion{
    text-align: left;
    border: none;
    background: none;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4B4C5F;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;

}
.accordion-content{
    font-size: 12px;
    color: #787887;
    padding-bottom: 15px;
}
.active{
    font-weight: 700;
}
.accordion + div{
    display: none;
}
li{
    list-style: none;
}

@media screen and (max-width: 1050px) { 
    .card{
        flex-direction: column;
        position: relative;
    }
    .card-accordion{
        margin-top: 60px;
        width: 100%;
    }
    .card-accordion h1{
        text-align: center;
    }
    .card-image{
        display: none;
    }
    .mobile-hero{
        display: inline;
        position: absolute;
        left: 28%;
        top: -105px;
    }
    
}